.Text {
    p {
        &:first-of-type {
            font-weight: 300;
            font-size: 12px;
            line-height: 16px;
            letter-spacing: 0.1px;
            color: #171d33;
            opacity: 0.4;

            strong {
                font-size: 14px;
                line-height: 20px;
                letter-spacing: 0.2px;
                color: #171d33;
            }
        }
        &:last-of-type {
            font-weight: normal;
            font-size: 12px;
            line-height: 18px;
            letter-spacing: 0.2px;
            color: #757f8c;
        }
    }
}
