.Additional {
    background-color: #fff;
}

.description {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 26px;

    .background {
        padding: 10px 20px 11px 22px;
        background-color: #f0f1f4;
        border-radius: 6px;
        margin-right: 17px;
        flex-shrink: 0;
    }

    p {
        flex-shrink: 1;
        flex-basis: 50%;
        font-weight: 500;
        font-size: 14px;
        line-height: 18px;
        letter-spacing: 0.2px;
        color: #757f8c;
    }
}
